{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script"
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ]
  },
  "overrides": [
    {
      "files": [
        "./client/*.js"
      ],
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}